<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ningenme.net.batch.mybatis.AtcoderUserMapper">
    <resultMap id="AtcoderUser" type="ningenme.net.batch.domain.AtcoderUserDomain">
        <id property="atcoderId" column="atcoder_id"/>
        <id property="topcoderId" column="topcoder_id"/>
        <id property="codeforcesId" column="codeforces_id"/>
        <id property="rank" column="rank"/>
        <id property="deletedTime" column="deleted_time"/>
        <id property="updatedTime" column="updated_time"/>
        <id property="createdTime" column="created_time"/>
    </resultMap>
    <select id="select" resultMap="AtcoderUser">
        SELECT * FROM atcoder_user
        <where>
            <if test="atcoderId != null">
                AND atcoder_id = #{atcoderId}
            </if>
            <if test="true">
                AND deleted_time IS NULL
            </if>
        </where>
        ORDER BY updated_time ASC
        LIMIT 1000
    </select>
    <update id="update">
        UPDATE atcoder_user SET
        topcoder_id   = #{topcoderId},
        codeforces_id = #{codeforcesId},
        rank          = #{rank},
        current_rate  = #{currentRate},
        highest_rate  = #{highestRate},
        country       = #{country},
        deleted_time  = #{deletedTime},
        updated_time  = NOW()
        where atcoder_id = #{atcoderId}
    </update>
</mapper>
